.container{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh; 
  width: 100vw;
}


.card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-shadow: 4px 4px 8px rgb(46, 1, 36);
  margin-top: 50px;
  height: 400px;
  width: 300px;
  border-radius: 20px;
  /* background-color: rgb(99, 91, 91); */
}


@media (max-width: 600px) {
  .card {
    width: 100%;
    font-size: 14px;
  }
}

