<div *ngIf="!weatherData" class="container">
  <div class="card  p-4 rounded">
    <h4 class="text-center mb-4">Weather App</h4>
      <input [(ngModel)]="cityName" class="custom-input" type="search" placeholder="Enter a city">
      <button class="btn btn-success w-100 mb-2" (click)="onSearch()">Search</button>
      
  </div>
</div>
<div *ngIf="weatherData" class="container" >
  <app-weather-info class="card p-4 rounded" [weather]="weatherData" (back)="onBack()"></app-weather-info>
</div>

<app-weather-background [isDay]="weatherData?.isDay" [weatherDescription]="weatherData?.weatherDescription"></app-weather-background>
