<div class="weather-card text-center">
  <h2>{{ weather?.cityName }}, {{ weather?.country }}</h2>
    <div class="d-flex justify-content-center align-items-center gap-3 mt-3">
      <img [src]="weather?.weatherIconUrl" alt="Weather icon" class="weather-icon">
        <div class="d-flex flex-column align-items-start ms-3">
          <p class="mb-1 fw-bold">{{ weather?.temperature }}°C</p>
          <p>{{ weather?.weatherDescription }}</p>
        </div>
    </div>
      <div class="d-flex justify-content-center justify-content-between mt-4">
        <button class="btn btn-primary" (click)="onBackClick()" ><ng-icon name="featherArrowLeft"></ng-icon></button>
          <button class="btn btn-warning" (click)="onFavoriteClick()"><ng-icon name="bootstrapBalloonHeart"></ng-icon></button>
      </div>
</div>
