.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}



.default-day {
  background-color: #e9edee;
}

.night {
  background-color: #0d1b2a;
}

.rainy {
  background-color: #90a4ae;
}

.cloudy {
  background-color: #b0bec5;
}

.sunny {
  background-color: #ffe082;
}
